html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #6161FF;
    
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: flex-end;
    margin-left: auto;
}
.navbar img {
    max-width: 100%;
    height: 45px;
}

.navbar ul li {
    padding: 8px;   
}
@media screen and (max-width: 500px) {
    .navbar ul {
        font-size: 12px;
    }
    .navbar ul li {
        padding: 3px;   
    }
    .hero {
        
        height: 250px;
    
        
    }
}
.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: 10px;
    font-weight: 500; /*Medium*/

 
}
.navbar ul li:hover {
    background-color: #9CACFF;
    border-radius: 16%;
}


.hero {
    display: flex;
    background-image: url(/assets/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-size: cover; 
    width: 100%; 
    height: 400px;

    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
    align-items:center;

    color: white;
    
    

}

.hero span{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    
    
    font-weight: 700; /*bold*/

}

.hero button {
    background-color: #4536F5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16;
    font-weight: 500; /*Medium*/
    border-radius: 8px;
}




