
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #6161FF;
    
}
.navbar ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: flex-end;
    margin-left: auto;
}
.navbar img {
    max-width: 100%;
    height: 45px;
}

.navbar ul li {
    padding: 8px;   
}
@media screen and (max-width: 500px) {
    .navbar ul {
        font-size: 12px;
    }
    .navbar ul li {
        padding: 3px;   
    }
    .hero {
        
        height: 250px;
    
        
    }
}
.navbar a {
    display: block;
    color: white;
    text-decoration: none;
    padding-right: 8px;
    font-size: 10px;
    font-weight: 500; /*Medium*/

 
}
.navbar ul li:hover {
    background-color: #9CACFF;
    border-radius: 16%;
}


.hero {
    display: flex;
    background-image: url(assets/img/marvin-meyer-SYTO3xs06fU-unsplash.jpg);
    background-size: cover; 
    width: 100%; 
    height: 400px;

    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
    align-items:center;

    color: white;
    
    

}

.hero span{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    font-size: 26px;
    
    
    font-weight: 700; /*bold*/

}

.hero button {
    background-color: #4536F5;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16;
    font-weight: 500; /*Medium*/
    border-radius: 8px;
}




body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .plan-section {
    text-align: center;
    padding: 50px 0;
  }
  
  .section-title {
    font-size: 2em;
    margin-bottom: 30px;
    color:#3B2AD8;
  }
  
  .plan-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .plan-card {
    background-color: #C2CEFF;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-bottom: 30px;
  }
  
  .plan-card h2 {
    margin-top: 0;
  }
  
  .plan-card p {
    margin-bottom: 20px;
  }
  
  .plan-card button {
    background-color: #3B2AD8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
    .plan-card {
      width: 90%;
    }
  }

  .service {
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  .row {
    
    display: flex;
    justify-content: space-between;
  }
  .column1, .column2, .column3  {
    background-color: #C2CEFF;
    padding: 30px;
    margin: 10px;
    flex: 1;
    border-radius:8px;
  }

  .service-img {
    width: 100px;
    height: auto;
    

  }
 

body {
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #c2ceff; 
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333; 
  }
  
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .headline {
    font-size: 4.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #1abc9c; 
  }
  
  .image-container {
    
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  
  .member1 {
    text-align: center;
    width: 30%;
  }
  .member2 {
    text-align: center;
    width: 30%;
  }
  .member3 {
    text-align: center;
    width: 30%;
  }
  
  .member4 {
    text-align: center;
    width: 30%;
  }
  .member5 {
    text-align: center;
    width: 30%;
  }
  .member6 {
    text-align: center;
    width: 30%;
  }
  
  .cta {
    text-align: center;
    margin-top: 2rem;
    color: #1abc9c;
  }
  
